@import "../../../../../assets/styles/theme.scss";

:host {
	--lm-link-text: var(--lm-accent);
}

.sprint-info__container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px 0px 0px 0px;
}

.sprint-info__video {
	width: 90%;
	height: auto;
	max-width: 450px;
	min-height: 352px;
	margin-bottom: 30px;
}

.sprint-info__image {
	width: 90%;
	height: auto;
}

.sprint-info__CTA {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.spirnt-info__link {
	font-weight: 600;
	font-size: 24px;
	color: var(--lm-link-text);
	text-decoration: none;
	padding-bottom: 25px;
}
