<div class="sprint-info__container">
	<iframe
		class="sprint-info__video"
		src="https://www.youtube.com/embed/2Vt7Ik8Ublw"
		title="YouTube video player"
		frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen
	></iframe>
	<img
		class="sprint-info__image"
		src="../../../../../assets/images/agile.png"
		alt="Confused by agile"
	/>
	<div class="sprint-info__CTA">
		<h2>Don't know where to start?</h2>
		<a	class="spirnt-info__link"
			href="https://www.atlassian.com/es/agile/project-management/epics-stories-themes"
			target="_blank"
			>Get Agile</a
		>
	</div>
</div>
