<mat-card class="card__container">
	<mat-card-title class="card__header-container">
		{{ card.name }}
		{{ card.icon }}
	</mat-card-title>
	<mat-card-subtitle>Identifier: {{ card._id }}</mat-card-subtitle>
	<div>
		{{ card.description }}
	</div>
	<mat-card-actions class="card__actions-container">
		<button
			(click)="openDialog(card)"
			class="card__actions-button"
			mat-mini-fab
			aria-label="button with a home icon"
		>
			<mat-icon>aspect_ratio</mat-icon>
		</button>
	</mat-card-actions>
</mat-card>
