@import "./assets/styles/theme.scss";

/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background-color: whitesmoke;
}

h1 {
	margin-top: 0px;
}

simple-snack-bar span {
	margin: auto;
	text-align: center;
}

.warn-snackbar {
	background: var(--lm-accent);
	.mat-simple-snackbar-action {
		color: white !important;
	}
}

.success-snackbar {
	background: var(--lm-primary);
	.mat-simple-snackbar-action {
		color: white !important;
	}
}
