:root {
	/* non colors */
	--lm-white-color: #ffffff;
	--lm-black-color: #313131;

	/* Main */
	--lm-primary: #12355b; /* Prussian Blue */

	/* Accents */
	--lm-accent: #b95071; /* Fuchsia Rose */

	/* Tertiary */
	--lm-tertiary: #7b8cde; /* Cornflower Blue */
}
